main {
	text-align: center;
}

#myname {
	color: black;
	font-size: 20pt;
	margin: 20px;
	width: 20%;
	display: inline-block;
}

#myname p {
	display: block;
	padding: 0px;
	margin: 10px;
}

#coe {
	background: url('../images/ansys.png') no-repeat;
	background-size: 100%;
}

#coe:hover {
	background: url('../images/transansys.png') no-repeat;
	background-size: 100%;
}

#cathy {
	background: url('../images/cathy.png') no-repeat;
	background-size: 100%;
}

#cathy:hover {
	background: url('../images/transcathy.png') no-repeat;
	background-size: 100%;
}

#camp {
	background: url('../images/camp.png') no-repeat;
	background-size: 100%;
}

#camp:hover {
	background: url('../images/transcamp.png') no-repeat;
	background-size: 100%;
}

#montblanc {
	background: url('../images/montblanc.png') no-repeat;
	background-size: 100%;
}

#montblanc:hover {
	background: url('../images/transmontblanc.png') no-repeat;
	background-size: 100%;
}

#handbells {
	background: url('../images/handbells.png') no-repeat;
	background-size: 100%;
}

#handbells:hover {
	background: url('../images/transhandbells.png') no-repeat;
	background-size: 100%;
}

#grad {
	background: url('../images/graduation.png') no-repeat;
	background-size: 100%;
}

#grad:hover {
	background: url('../images/transgraduation.png') no-repeat;
	background-size: 100%;
}


.home-bubble {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 20%;
	line-height: 230px;
	display: inline-block;
	color: transparent;
	font-size: 12pt;
}

.home-bubble:hover p {
	color: black;
}